body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  padding: 20px;
  background-color: #222;
  color: #fff;
}

.button-warning {
  margin: 10px;
  padding: 10px;
  background-color: rgb(255, 0, 0);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-weight: 500;
}

.button-info {
  margin: 10px;
  padding: 10px;
  background-color: rgb(60, 60, 255);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: 500;
}

.button-details {
  margin: 10px;
  padding: 10px;
  background-color: rgb(0, 144, 0);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: 500;
}

.jokeDetail{
  visibility: hidden;
}

.joke, .buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: x-large;
  margin: 10%;
}